<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${banner.id}" type="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">广告类型：</label>
                            <div class="col-sm-4">
                                <select class="form-control chosen-select required" data-placeholder="--选择类型--" id="bannerType"
                                        name="bannerType" tabindex="2">
                                    <option th:selected="${banner.bannerUrl==1}" value="1">banner图</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">链接：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="bannerUrl" name="bannerUrl"
                                       th:value="${banner.bannerUrl}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面：</label>
                            <div class="col-sm-8">
                                <img height="100px" id="imgSrc" th:src="${banner.bannerCover}" width="100px">
                                <input class="form-control" id="bannerCover" lay-verify="logo"
                                       name="bannerCover" th:value="${banner.bannerCover}" type="hidden">
                                <button class="layui-btn" id="test1" type="button">
                                    <i class="fa fa-cloud"></i>上传照片
                                </button>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">有效期：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="bannerBegin"
                                       name="bannerBegin"
                                       th:value="${#dates.format(banner.bannerBegin, 'yyyy-MM-dd')}" type="text">
                            </div>
                            <label class="col-sm-2 control-label">有效期：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="bannerEnd"
                                       name="bannerEnd" th:value="${#dates.format(banner.bannerEnd, 'yyyy-MM-dd')}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/appjs/beauty/banner/edit.js}" type="text/javascript"></script>
<script type="text/javascript">
    /* 图片上传  */
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1', //绑定元素
            url: ctx + '/common/sysFile/upload', //上传接口
            size: 4000,
            accept: 'file',
            done: function (r) {
                layer.msg(r.msg);
                var src = r.fileName;
                $("#imgSrc").attr("src", src);
                $("#bannerCover").val(src);
            },
            error: function (r) {
                layer.msg(r.msg);
            }
        });
    });

</script>
</body>
</html>
