<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12" id="formSearch" name="formSearch">
        <div class="ibox">
            <div class="ibox-body">
                <div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label" style="margin-top: 6px;">选择省份</label>
                    <div class="col-sm-8">
                        <select class="form-control chosen-select required" data-placeholder="--选择省份--" id="pid" lay-filter="pid"
                                lay-verify="pid" required tabindex="2">
                            <option value="350000">福建省</option>
                            <option value="110000">北京市</option>
                            <option value="120000">天津市</option>
                            <option value="130000">河北省</option>
                            <option value="140000">山西省</option>
                            <option value="150000">内蒙古自治区</option>
                            <option value="210000">辽宁省</option>
                            <option value="220000">吉林省</option>
                            <option value="230000">黑龙江省</option>
                            <option value="310000">上海市</option>
                            <option value="320000">江苏省</option>
                            <option value="330000">浙江省</option>
                            <option value="340000">安徽省</option>
                            <option value="350000">福建省</option>
                            <option value="360000">江西省</option>
                            <option value="370000">山东省</option>
                            <option value="410000">河南省</option>
                            <option value="420000">湖北省</option>
                            <option value="430000">湖南省</option>
                            <option value="440000">广东省</option>
                            <option value="450000">福建省</option>
                            <option value="460000">海南省</option>
                            <option value="500000">重庆市</option>
                            <option value="510000">四川省</option>
                            <option value="520000">贵州省</option>
                            <option value="530000">云南省</option>
                            <option value="540000">西藏自治区</option>
                            <option value="610000">陕西省</option>
                            <option value="620000">甘肃省</option>
                            <option value="630000">青海省</option>
                            <option value="640000">宁夏回族自治区</option>
                            <option value="650000">新疆维吾尔自治区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <button class="btn btn-success" id="btnSearch" onclick="reLoad()">查询</button>
                    <button class="btn btn-danger" id="btnReset" onclick="reSet()">重置</button>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-table-toolbar">
        <div class="pull-left" id="exampleToolbar">
            <button class="btn btn-danger" id="btnDel" onclick="batchRemove()" shiro:hasPermission="system:area:batchRemove"
                    type="button">
                <i aria-hidden="true" class="fa fa-trash"></i>删除
            </button>
        </div>
    </div>
    <table data-mobile-responsive="true" id="dataTable">
    </table>

</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <div>
        <script type="text/javascript">
            var s_add_h = 'hidden';
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
            var s_resetPwd_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="system:area:add">
        <script type="text/javascript">
            s_add_h = '';
        </script>
    </div>
    <div shiro:hasPermission="system:area:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="system:area:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
    <div shiro:hasPermission="system:area:resetPwd">
        <script type="text/javascript">
            var s_resetPwd_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/js/plugins/treeview/bootstrap-treeview.js}" type="text/javascript"></script>
<script th:src="@{/js/appjs/sys/area/area.js}" type="text/javascript"></script>
</body>
</html>