<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanzheng.beauty.dao.AttDao">

    <select id="get" resultType="com.yuanzheng.beauty.domain.AttDo">
        select id,
               att_url,
               att_name,
               create_time
        from beauty_att
        where id = #{value}
    </select>
    <select id="getListAtt"
            resultType="com.yuanzheng.beauty.domain.AttDo">
        select id,
               att_url,
               att_name,
               create_time
        from beauty_att
        order by id desc
    </select>
    <select id="list" resultType="com.yuanzheng.beauty.domain.AttDo">
        select
        id,att_url,att_name,create_time
        from beauty_att
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from beauty_att
    </select>

    <update id="update"
            parameterType="com.yuanzheng.beauty.domain.AttDo">
        update beauty_att
        <set>
            <if test="attUrl != null">att_url = #{attUrl},</if>
            <if test="attName != null">att_name = #{attName},</if>
        </set>
        where id = #{id}
    </update>
    <insert id="save"
            parameterType="com.yuanzheng.beauty.domain.AttDo"
            useGeneratedKeys="true" keyProperty="id">
        insert into beauty_att
        (att_url, att_name, create_time)
        values (#{attUrl},
                #{attName},
                #{createTime})
    </insert>
    <delete id="remove">
        delete
        from beauty_att
        where id = #{value}
    </delete>

</mapper>