<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanzheng.beauty.dao.BeautyProxyDao">


    <select id="list" resultType="com.yuanzheng.beauty.domain.BeautyProxyDo">
        select id,
               name,
               startnum,
               emdnum,
               dividends,
               product_offers,
               people_insured,
               mir,
               created_time,
               updated_time,
               sore,
               status,
               def,
               img
        from beauty_proxy
        where status = 1
    </select>
    <resultMap id="BaseResultMap" type="com.yuanzheng.beauty.domain.BeautyProxyDo">
        <id column="id"  property="id"/>
        <result column="name"  property="name"/>
        <result column="startnum"  property="startnum"/>
        <result column="emdnum"  property="emdnum"/>
        <result column="dividends"  property="dividends"/>
        <result column="product_offers"  property="productOffers"/>
        <result column="people_insured"  property="peopleInsured"/>
        <result column="mir"  property="mir"/>
        <result column="created_time"  property="createdTime"/>
        <result column="updated_time"  property="updatedTime"/>
        <result column="sore"  property="sore"/>
        <result column="status"  property="status"/>
        <result column="def"  property="def"/>
        <result column="img"  property="img"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `name`, startnum, emdnum, dividends, product_offers, people_insured, mir, created_time,
    updated_time, sore, `status`, def,img
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from beauty_proxy
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from beauty_proxy
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yuanzheng.beauty.domain.BeautyProxyDo"
            useGeneratedKeys="true">
        insert into beauty_proxy (`name`, startnum, emdnum,
                                  dividends, product_offers, people_insured,
                                  mir, `status`, def, img)
        values (#{name}, #{startnum}, #{emdnum},
                #{dividends}, #{productOffers}, #{peopleInsured},
                #{mir}, #{status}, #{def}, #{img})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.yuanzheng.beauty.domain.BeautyProxyDo" useGeneratedKeys="true">
        insert into beauty_proxy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="startnum != null">
                startnum,
            </if>
            <if test="emdnum != null">
                emdnum,
            </if>
            <if test="dividends != null">
                dividends,
            </if>
            <if test="productOffers != null">
                product_offers,
            </if>
            <if test="peopleInsured != null">
                people_insured,
            </if>
            <if test="mir != null">
                mir,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="sore != null">
                sore,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="def != null">
                def,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="startnum != null">
                #{startnum},
            </if>
            <if test="emdnum != null">
                #{emdnum},
            </if>
            <if test="dividends != null">
                #{dividends},
            </if>
            <if test="productOffers != null">
                #{productOffers},
            </if>
            <if test="peopleInsured != null">
                #{peopleInsured},
            </if>
            <if test="mir != null">
                #{mir},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="updatedTime != null">
                #{updatedTime},
            </if>
            <if test="sore != null">
                #{sore},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="def != null">
                #{def},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuanzheng.beauty.domain.BeautyProxyDo">
        update beauty_proxy
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="startnum != null">
                startnum = #{startnum},
            </if>
            <if test="emdnum != null">
                emdnum = #{emdnum},
            </if>
            <if test="dividends != null">
                dividends = #{dividends},
            </if>
            <if test="productOffers != null">
                product_offers = #{productOffers},
            </if>
            <if test="peopleInsured != null">
                people_insured = #{peopleInsured},
            </if>
            <if test="mir != null">
                mir = #{mir},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="sore != null">
                sore = #{sore},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="def != null">
                def = #{def},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuanzheng.beauty.domain.BeautyProxyDo">
        update beauty_proxy
        set `name`         = #{name},
            startnum       = #{startnum},
            emdnum         = #{emdnum},
            dividends      = #{dividends},
            product_offers = #{productOffers},
            people_insured = #{peopleInsured},
            mir            = #{mir},
            created_time   = #{createdTime},
            updated_time   = #{updatedTime},
            sore           = #{sore},
            `status`       = #{status},
            def            = #{def},
            img            = #{img}
        where id = #{id}
    </update>

</mapper>