<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanzheng.beauty.dao.PtypeDao">

    <select id="get"
            resultType="com.yuanzheng.beauty.domain.PtypeDo">
        select id,
               value,
               name,
               cover,
               create_time
        from beauty_ptype
        where id = #{value}
    </select>
    <select id="listAll" resultType="com.yuanzheng.beauty.domain.PtypeDo">
        select id,
               value,
               name,
               cover,
               create_time
        from beauty_ptype
    </select>
    <select id="list"
            resultType="com.yuanzheng.beauty.domain.PtypeDo">
        select
        id,value,name,cover,create_time
        from beauty_ptype
        <where>
            <if test="name != null and name != ''">and name LIKE '%${ name}%'</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from beauty_ptype
        <where>
            <if test="name != null and name != ''">and name LIKE '%${ name}%'</if>
        </where>
    </select>

    <update id="update" parameterType="com.yuanzheng.beauty.domain.PtypeDo">
        update beauty_ptype
        <set>
            <if test="value != null">value = #{value},</if>
            <if test="name != null">name = #{name},</if>
            <if test="cover != null">cover = #{cover},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="remove">
        delete
        from beauty_ptype
        where id = #{value}
    </delete>
    <insert id="save"
            parameterType="com.yuanzheng.beauty.domain.PtypeDo"
            useGeneratedKeys="true" keyProperty="id">
        insert into beauty_ptype
        (value, name, cover, create_time)
        values (#{value},
                #{name},
                #{cover},
                #{createTime})
    </insert>
</mapper>