var prefix = ctx + "/${pathName}/${classname}"
$(function () {
    var editROW = getPageValue();//列表页面传值(row)
    validateRule();
});

$.validator.setDefaults({
    submitHandler: function () {
        sbumitData();
    }
});

function sbumitData() {
    //var formData = $('#signupForm').serializeObject();//将指定容器中的控件值，序列化为json对象
    var formData = $('#signupForm').serialize();//将指定容器中的控件值，序列化为&相连的字符串
    var url = "";
    if ($("#${pk.attrname}").val()) {//修改时
        url = prefix + "/update";
    } else {
        url = prefix + "/save";
    }

    $.ajax({
        cache: true,
        type: "POST",
        url: url,
        data: $('#signupForm').serialize(),// 你的formid
        async: false,
        error: function (request) {
            parent.layer.alert("Connection error");
        },
        success: function (data) {
            if (data.code == 0) {
                parent.layer.msg("操作成功");
                parent.reLoad();
                var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                parent.layer.close(index);

            } else {
                parent.layer.alert(data.msg)
            }

        }
    });

}

function validateRule() {
    var icon = "<i class='fa fa-times-circle'></i> ";
    $("#signupForm").validate({
        rules: {
            ##foreach($column in $columns)
            ##${column.attrname} : {
            ###if(${column.isNullable}=="NO" || ${column.isNullable}=="N")
            ##required : true,
            ###else
            ##
            ###if(${column.characterMaximumLength} !="0" && (${column.dataType} =="varchar" || ${column.dataType} =="nvarchar2" || ${column.dataType} =="varchar2"))
            ##:${column.characterMaximumLength}
            ##end
            ##},
            ###end
            #foreach($column in $columns)
                    ${column.attrname} :
                    {
                        required: true,
                    }#if($velocityCount != $columns.size()), #end
            #end
        },
        messages: {
            ## #foreach($column in $columns)
            ##  ${column.attrname} :
            ##   {
            ##     #if(${column.isNullable}=="NO" || ${column.isNullable}=="N")
            ##         required : icon + "${column.comments}不能为空",
            ##      #else
            ##     #end
            ##     #if(${column.characterMaximumLength}!="0" && (${column.dataType} =="varchar" || ${column.dataType} ==
            ##         "nvarchar2" || ${column.dataType} =="varchar2"))
            ##         maxlength:
            ##    icon + "最大长度不超过${column.characterMaximumLength}"
            ## #end
            ##}
            ## ,
            ## #end
        }
    })
}