<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${notify.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">审批结果：</label>
                            <div class="col-sm-8">
                                <textarea cols="60" id="processResult" name="processResult"
                                          rows="4" th:text="${notify.processResult}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
